.skill-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
  }
  .plus-btn{
    background-color:#CBC3E3;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
}

.minus-btn{
   
    background-color:#673147;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
}
